div, article, aside, footer, header, nav, section{ zoom:1 }
body {
   behavior: url("ie/csshover3.htc");
}
.box, .boxlink_wrap a, .protean_banner, #topnav li a, #emblematic div{
	/* border radius */
	behavior: url("ie/PIE.htc");
}
#tagscloud li{
	/* fix stepdown */
	display: inline;
}